.container{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, #0078c4, #00aae3);
    position: fixed;
    width: 100%;
    top: 0;
    height: 5vw;
    align-items: center;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.divContainer{
    padding: 0.1vw;
    color: #f1f1f1;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
h1{
    font-size: 3vw;
}

.divContainer:hover{
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    transform: scale(1.2);
}

.divContainerA{
    padding: 0.2vw;
    color: #f1f1f1;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.divContainerA img {
    width: 20%;
    padding: 1vw;
    border-radius: 5vw;
}

.divContainerA img:hover{
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    transform: scale(1.2);
}

@media (max-width: 912px) {
    .container {
        height: 15vw;
    }
    .divContainerA img {
        width: 40%;
        padding: 1vw;
      }
    .divContainerA img:hover{   
        transition: transform 0.3s ease-in-out;
        transform-origin: center center;
        transform: scale(1.2);
    }
}
  